name: CI Pipeline

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build:api

      - name: sam build
        uses: eactisgrosso/aws-sam-action@v1
        with:
          node_version: 12.x
          stack_name: bottlehub-api-staging
          parameter_overrides: StageName=staging SecurityGroupIds="sg-0768315c758854bb6" VpcSubnetIds="subnet-06b0ce4f1bde4bfb8,subnet-01da13a2287c6d9a3"
          no_fail_on_empty_changeset: true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
