name: CI Pipeline

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Build Shop Web
        run: |
          yarn build:shop
      - name: Deploy Shop Web
        run: |
          export AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws s3 sync packages/shop/out s3://app.bottlemarket.com.ar/ --exclude index.html --region us-east-1
          aws s3 cp packages/shop/out/index.html s3://app.bottlemarket.com.ar/ --metadata-directive REPLACE --cache-control max-age=0,no-cache,no-store,must-revalidate --content-type text/html --region us-east-1
          aws s3 cp s3://app.bottlemarket.com.ar/callback.html s3://app.bottlemarket.com.ar/callback --cache-control max-age=0,no-cache --acl public-read --content-type text/html
      - name: Build Admin Web
        run: yarn build:admin
      - name: Deploy Admin Web
        run: |
          export AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws s3 sync packages/admin/build s3://admin.bottlemarket.com.ar/ --exclude index.html --region us-east-1
          aws s3 cp packages/admin/build/index.html s3://admin.bottlemarket.com.ar/ --metadata-directive REPLACE --cache-control max-age=0,no-cache,no-store,must-revalidate --content-type text/html --region us-east-1
      - name: Build API
        run: yarn build:api
      - name: Deploy API
        uses: eactisgrosso/aws-sam-action@v1
        with:
          node_version: 12.x
          stack_name: bottlehub-api-staging
          parameter_overrides: StageName=staging
          no_fail_on_empty_changeset: true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
