name: Front Admin Pipeline

on:
  push:
    branches: [dev]
    paths:
      - "packages/front-admin/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build:front-admin
      - name: Deploy
        run: |
          export AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws s3 sync packages/front-admin/build s3://admin.bottlemarket.com.ar/ --exclude index.html --region us-east-1
          aws s3 cp packages/front-admin/build/index.html s3://admin.bottlemarket.com.ar/ --metadata-directive REPLACE --cache-control max-age=0,no-cache,no-store,must-revalidate --content-type text/html --region us-east-1
